form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

form input {
  width: 20%;
  padding: 10px;
}

form button {
  width: 20%;
  padding: 10px;
}
